In [1]:
import numpy as np
import pandas as pd

In [2]:
# Weight of the Backpack is 15
# We have 5 items
# Hammer : Val = 11, Weight = 3
# Screw : Val = 4, Weight = 2
# Towel : Val = 8, Weight = 5
# Wrench : Val = 3, Weight = 7
# Screwdriver : Val = 6, Weight = 4
# First we will do a 0/1 Knapsack

In [3]:
def gen_cases(size):
    cases = []
    for i in range(size):
        binary_string = bin(i)
        binary_string_without_prefix = binary_string[2:]
        cases.append(binary_string_without_prefix)
    for pos in range(len(cases)):
        length = len(cases[-1]) - len(cases[pos])
        if length !=0:
            for i in range(length):
                cases[pos] = "0"+cases[pos]
        else:
            break
    return cases
cases = gen_cases(32)
print(cases)

['00000', '00001', '00010', '00011', '00100', '00101', '00110', '00111', '01000', '01001', '01010', '01011', '01100', '01101', '01110', '01111', '10000', '10001', '10010', '10011', '10100', '10101', '10110', '10111', '11000', '11001', '11010', '11011', '11100', '11101', '11110', '11111']

In [4]:
items = {"Hammer":[11,3], "Screw":[4,2],"Towel":[8,5],"Wrench":[3,7],"Screwdriver":[6,4]}
df = pd.DataFrame(items, index=["Value","Weight"])
df

        Hammer  Screw  Towel  Wrench  Screwdriver
Value       11      4      8       3            6
Weight       3      2      5       7            4

In [5]:
df_01 = df.copy()
df_01

        Hammer  Screw  Towel  Wrench  Screwdriver
Value       11      4      8       3            6
Weight       3      2      5       7            4

In [6]:
cpt = 1
for poss in cases:
    f = []
    for n in poss:
        f.append(int(n))
        s = str(cpt)
    df_01.loc["pos"+s]=f
    cpt +=1

In [7]:
len(df_01)

34

In [8]:
sums = [df_01.loc['Value'].sum(),df_01.loc['Weight'].sum()]
weights = [df_01.loc['Value'].sum(),df_01.loc['Weight'].sum()]
for i in range(1,len(df_01)-1):
    s = 0
    w = 0
    for col in df_01.columns:
        s += df_01.loc['pos'+str(i),col] * df_01.loc['Value',col]
        w += df_01.loc['pos'+str(i),col] * df_01.loc['Weight',col]
    sums.append(s)
    weights.append(w)
df_01['Total Values'] = sums
df_01['Total Weights'] = weights

In [9]:
dfs_01 = df_01[df_01["Total Weights"]<= 15]
dfs_01.sort_values(by="Total Values",ascending=False).head()

       Hammer  Screw  Towel  Wrench  Screwdriver  Total Values  Total Weights
pos30       1      1      1       0            1            29             14
pos22       1      0      1       0            1            25             12
pos29       1      1      1       0            0            23             10
pos23       1      0      1       1            0            22             15
pos26       1      1      0       0            1            21              9

In [10]:
"""Therefor our optimal solution would be
1 Hamer, 1 Screw, 1 Towel and 1 Screwdriver"""

'Therefor our optimal solution would be\n1 Hamer, 1 Screw, 1 Towel and 1 Screwdriver'

In [11]:
# Now we will do an unbound Knapsack

In [12]:
from itertools import product

In [13]:
df

        Hammer  Screw  Towel  Wrench  Screwdriver
Value       11      4      8       3            6
Weight       3      2      5       7            4

In [14]:
st = []
for i in df.columns:
    mod = 15 / df.loc["Weight", i]
    r = range(int(mod)+1)
    st.append(list(r))
print(st)

[[0, 1, 2, 3, 4, 5], [0, 1, 2, 3, 4, 5, 6, 7], [0, 1, 2, 3], [0, 1, 2], [0, 1, 2, 3]]

In [15]:
from itertools import product

st = []
for i in df.columns:
    mod = 15 / df.loc["Weight", i]
    r = range(int(mod)+1)
    st.append(list(r))

# Generate combinations with specific order
combinations = product(*st)

# Filter combinations based on rules
filtered_combinations = []
for combo in combinations:
    valid = True
    for i, val in enumerate(combo):
        if sum(val * df.loc["Weight", df.columns[i]] for i, val in enumerate(combo)) >= 1000:
            valid = False
            break
    if valid:
        filtered_combinations.append(combo)

In [16]:
df_unb = df.copy()
df_unb

        Hammer  Screw  Towel  Wrench  Screwdriver
Value       11      4      8       3            6
Weight       3      2      5       7            4

In [17]:
cpt = 1
for comb in filtered_combinations:
    df_unb.loc["pos"+str(cpt)] = comb
    cpt += 1
df_unb

         Hammer  Screw  Towel  Wrench  Screwdriver
Value        11      4      8       3            6
Weight        3      2      5       7            4
pos1          0      0      0       0            0
pos2          0      0      0       0            1
pos3          0      0      0       0            2
...         ...    ...    ...     ...          ...
pos2300       5      7      3       1            3
pos2301       5      7      3       2            0
pos2302       5      7      3       2            1
pos2303       5      7      3       2            2
pos2304       5      7      3       2            3

[2306 rows x 5 columns]

In [18]:
sums = [df_unb.loc['Value'].sum(),df_unb.loc['Weight'].sum()]
weights = [df_unb.loc['Value'].sum(),df_unb.loc['Weight'].sum()]
for i in range(1,len(df_unb)-1):
    s = 0
    w = 0
    for col in df_unb.columns:
        s += df_unb.loc['pos'+str(i),col] * df_unb.loc['Value',col]
        w += df_unb.loc['pos'+str(i),col] * df_unb.loc['Weight',col]
    sums.append(s)
    weights.append(w)
df_unb['Total Values'] = sums
df_unb['Total Weights'] = weights
df_unb

,Hammer,Screw,Towel,Wrench,Screwdriver,Total Values,Total Weights
Value,11,4,8,3,6,32,32
Weight,3,2,5,7,4,21,21
pos1,0,0,0,0,0,0,0
pos2,0,0,0,0,1,6,4
pos3,0,0,0,0,2,12,8
...,...,...,...,...,...,...,...
pos2300,5,7,3,1,3,128,63
pos2301,5,7,3,2,0,113,58
pos2302,5,7,3,2,1,119,62
pos2303,5,7,3,2,2,125,66
pos2304,5,7,3,2,3,131,70

In [19]:
dfs_unb = df_unb[df_unb["Total Weights"]<= 15]
dfs_unb.sort_values(by="Total Values",ascending=False).head()

,Hammer,Screw,Towel,Wrench,Screwdriver,Total Values,Total Weights
pos1921,5,0,0,0,0,55,15
pos1585,4,1,0,0,0,48,14
pos1297,3,3,0,0,0,45,15
pos1537,4,0,0,0,0,44,12
pos1202,3,1,0,0,1,43,15